{% extends '../base_email.html' %}

{% block greeting %}
Dear {{ user.name || user.email }}!
{% endblock %}

{% block regards %}
Best regards,</br>
The Hive Team</br>
<a href="{{ host }}">{{ host }}</a>
{% endblock %}