{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>As per your request, Hive will help you to change your email.</td>
    </tr>
    <tr>
        <td>Click here to get email-change page <a href="{{ host }}/email/change/{{ emailChangeLink }}">{{ host }}/email/change/{{ emailChangeLink }}</a>
        and set your new email.<br>
        <strong>Link will expire in {{ expires }}.</strong></td>
    </tr>
    <tr>
        <td>If you have any questions or did not request changing email, please contact us anytime at support@hive.com.</td>
    </tr>
{% endblock %}