{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Email successfully changed.</td>
    </tr>
    <tr>
        <td>Current email is <strong>{{ user.email }}</strong></td>
    </tr>
    <tr>
        <td>If you have any questions or did not request changing email, please contact us anytime at support@hive.com.</td>
    </tr>
{% endblock %}