{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>You have set new password with recover link from our service.</td>
    </tr>
    <tr>
        <td>If you have any questions or did not set your password, please contact us anytime at support@hive.com.</td>
    </tr>
{% endblock %}