{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>As per your request, Hive will help you to recover your password.</td>
    </tr>
    <tr>
        <td>Click here to get recover page <a href="{{ host }}/recover/{{ recoverLink }}">{{ host }}/recover/{{ recoverLink }}</a>
        and set your new password.<br>
        <strong>Link will expire in {{ expires }}.</strong></td>
    </tr>
    <tr>
        <td>If you have any questions or did not request a password recover, please contact us anytime at support@hive.com.</td>
    </tr>
{% endblock %}