{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Password was changed from our service.</td>
    </tr>
    <tr>
        <td>If you have any questions or did not change your password, please contact us anytime at support@hive.com.</td>
    </tr>
{% endblock %}