<table>
    <tbody>
        <tr>
            <td><h3>{% block greeting %}{% endblock %}</h3></td>
        </tr>
        {% block mailbody %}{% endblock %}
        <tr>
            <td>{% block regards %}{% endblock %}</td>
        </tr>
    </tbody>
</table>