{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Добро пожаловать на Hive!</td>
    </tr>
    <tr>
        <td>Вы указали <strong>{{ user.email }}</strong> в качестве адреса электронной почты. Пройдите по ссылке
        <a href="{{ host }}/email/activate/{{ emailActivationLink }}">{{ host }}/email/activate/{{ emailActivationLink }}</a>
            для подтверждения.</td>
    </tr>
    <tr>
        <td>Если у вас есть вопросы, или вы не регистрировались на нашем сервисе, свяжитесь с нами в любое вермя support@hive.com.</td>
    </tr>
{% endblock %}