{% extends '../base_email.html' %}

{% block greeting %}
Уважаемый пользователь {{ user.name }}!
{% endblock %}

{% block regards %}
С наилучшими пожеланиями,</br>
The Hive Team</br>
<a href="{{ host }}">{{ host }}</a>
{% endblock %}