{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Вы установили новый пароль используя ссылку для васстановления.</td>
    </tr>
    <tr>
        <td>Если у вас есть вопросы, или вы не восстаналивали пароль, свяжитесь с нами support@hive.com.</td>
    </tr>
{% endblock %}