{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>По вашему запросу, Hive поможет восстановить пароль.</td>
    </tr>
    <tr>
        <td>Перейдите по ссылке на страницу восстановения пароля <a href="{{ host }}/recover/{{ recoverLink }}">https://hive.com/recover/{{ recoverLink }}</a>
        и установите новый пароль для своего аккаунта.<br>
        <strong>Ссылка действительна {{ expires }}.</strong></td>
    </tr>
    <tr>
        <td>Если у вас возникли сложности или появились вопрсоы по поводу восстановления пароля
            свяжитесь с нами в любое время support@hive.com.</td>
    </tr>
{% endblock %}